name: Test and Build Workflow
# This workflow is triggered on pull requests to main branch
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'

jobs:
  build:
    # Job name
    name: Build Replication plugin
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Build and run Replication tests
        run: |
          ./gradlew clean release -Dbuild.snapshot=true -Dopensearch.version=1.2.0-SNAPSHOT
      - name: Run Backwards Compatibility Tests
        run: |
          echo "Running backwards compatibility tests ..."
          ./gradlew bwcTestSuite --stacktrace -Dorg.gradle.daemon=false
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: |
            build/testclusters/integTest-*/logs/*
            build/testclusters/leaderCluster-*/logs/*
            build/testclusters/followCluster-*/logs/*
      - name: Create Artifact Path
        run: |
          mkdir -p cross-cluster-replication-artifacts
          cp ./build/distributions/*.zip cross-cluster-replication-artifacts
      - name: Uploads coverage
        uses: codecov/codecov-action@v1.2.1
