name: BWC Test Workflow
# This workflow is triggered on pull requests to main branch
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'

jobs:
  build:
    # Job name
    name: Run BWC Test
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Build and run Replication tests
        run: |
          echo "Running backwards compatibility tests ..."
          ./gradlew clean release -Dbuild.snapshot=true -Dopensearch.version=1.3.10-SNAPSHOT -x test -x IntegTest
          ./gradlew mixedClusterTask --stacktrace
          ./gradlew fullRestartClusterTask --stacktrace
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: |
            build/testclusters/*ClusterTask*/logs/*
            build/testclusters/bwcLeader*/logs/*
            build/testclusters/bwcFollower*/logs/*
            build/reports/tests/*
